<ul class="list-unstyled">
  <% @member_logs.each do |log| %>
    <li class="media mt-5 mb-5">
      <%= image_tag "free_image", size:"40x40", class:"bd-placeholder-img mr-3 rounded-circle" %>
      <div class="media-body">
        <p class="mt-0 mb-1 log_info"><%= log.display_updated_at %></p>
        <%= form_with model: log, url: calendar_store_member_member_log_path(@calendar, @store_member, log) do |f| %>
          <%= f.text_area :log_text, class:"form-control #{"w-50" unless browser.device.mobile?} text_area" %>
          <div class="mt-1 edit_btn_area" id="log_info_<%= log.id %>">
            <%= link_to "削除", calendar_store_member_member_log_path(@calendar, @store_member, log), method: :delete, remote: true, 'data-confirm':"コメントを削除しますか？" %>
            <%= f.submit "保存する", style:"border:none;background-color:transparent;text-decoration:underline;" %>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<script>
  autosize($('textarea'));
</script>
