<div class="modal-dialog member_task_modal" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"><%= task.store_member.name %>様</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= form_for task, url: calendar_member_update_task_path(calendar, task) do |f| %>
      <div class="modal-body">
        <table class="table table-sm">
          <tbody>
            <tr>
              <th scope="row">
                <%= link_to "カレンダーへ", user_calendar_dashboard_path(current_user, calendar, staff_id: task.staff.id, task_id: task.id), class:"btn btn-outline-primary load_btn btn-sm"  %>
              </th>
              <td></td>
            </tr>
            <tr>
              <th scope="row">時間</th>
              <td><%= reservation_date(task) %></td>
            </tr>
            <tr>
              <th scope="row">コース</th>
              <td><%= task.task_course.title %></td>
            </tr>
            <tr>
              <th scope="row">ご要望</th>
              <td><%= task.request %></td>
            </tr>
            <tr>
              <th scope="row">メモ</th>
              <td>
                <%= simple_format(task.memo, class: 'disabled_form') %>
                <P class="display_none">
                  <%= f.text_area :memo, class: "form-control form_style display_none memo_text_area" %>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="start_edit_member_task_btn">編集する</button>
        <%= f.submit "更新", class:"btn btn-primary display_none", data: {confirm: "内容を更新しますか？"} %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    <% end %>
  </div>
</div>

<script>
  // ボタンを押して、編集が可能になる
  $('#start_edit_member_task_btn').on('click', function() {
    $('.member_task_modal').find(".disabled_form").css("display","none")
    $('.member_task_modal').find(".display_none").removeClass("display_none");
    $(this).remove();
  });
</script>