<h1>会員一覧</h1>
<%= search_form_for @member_q, url: calendar_store_members_path(@calendar) do |f| %>
  <label>名前or電話番号</label>
  <%= f.search_field :name_or_phone_cont, class: "form-control" %>
  <%= f.submit "検索", class:"btn btn-primary load_btn" %>
<% end %>

<%= paginate @store_members %>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"><%= sort_link(@q, :name, "名前") %></th>
        <th scope="col"><%= sort_link(@q, :phone, "電話番号") %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @store_members.each do |member| %>
        <tr>
          <th scope="row"><%= member.name %></th>
          <td><%= member.phone %></td>
          <td>
            <%= link_to "詳細", calendar_store_member_path(@calendar, member), class:"btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>