<h2><i class="far fa-user-circle"></i>会員詳細</h2>
  <div class="card">
    <h5 class="card-header">
      <%= form_with model: @store_member, url: calendar_store_member_path(@calendar, @store_member) do |f| %>
        <span>会員情報</span><%= f.submit "保存", class:"btn btn-success mt-1 ml-2 mb-1" %>
        <%= f.text_area :memo, class:"form-control" %>
      <% end %>
    </h5>
    <div class="card-body">
      <table class="table table-borderless ">
        <tbody>
          <tr>
            <th scope="row"><i class="far fa-user"></i></th>
            <td><%= @store_member.name %></td>
          </tr>
          <tr>
            <th scope="row"><i class="far fa-envelope"></i></th>
            <td><%= @store_member.email %></td>
          </tr>
          <tr>
            <th scope="row"><i class="fas fa-phone"></i></th>
            <td><%= @store_member.phone %></td>
          </tr>
          <tr>
            <th scope="row"><i class="fab fa-line fa-2x"></i></i></th>
            <td><%= @store_member.line_status %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <i class="fas fa-list mr-3"></i>コメント
    </div>
    <div class="card-body">
        <%= form_with model: @member_log, url: calendar_store_member_member_logs_path(@calendar, @store_member) do |f| %>
          <%= f.file_field :picture, style:"display:none;", multiple: true, id:"new_file" %>
        <% end %>
        <i class="far fa-comment"></i> コメントを投稿　<i class="fas fa-camera-retro fa-lg pointer" onClick="$('#new_file').click()"></i> <span id="add_text"></span>
        <%= form_with model: @member_log, url: calendar_store_member_member_logs_path(@calendar, @store_member) do |f| %>
          <%= f.text_area :log_text, placeholder:"コメントを入力してください。", class: "form-control", id:"log_text_form" %>
        <%= f.submit "保存", class:"btn btn-success mt-1" %>
      <% end %>
    </div>
    <div id="member_logs" class="container">
      <%= render "member_logs" %>
    </div>
  </div>


<script>
  // ボタンを押して、編集が可能になる
  $('#start_edit_btn').on('click', function() {
    $('.member_edit_form').find(".disabled_form").css("display","none")
    $('.member_edit_form').find(".display_none").removeClass("display_none");
    $(this).remove();
  });
</script>

<script type="text/javascript">
    $('#new_file').on('change', function (e) {
        console.log(e.target.files);
        var log_id = $(this).attr("data-value");
        var formData = new FormData();
        var files = this.files;
        $.each(files, function(i, file){
            formData.append('file', file);
          if (e.target.files[0].size > 0) {
              $.ajax({
                url: `/calendars/<%= params[:calendar_id] %>/store_members/<%= params[:id] %>/member_logs/create_picture`,
                type: "POST",
                data : formData,
                cache       : false,
                contentType : false,
                processData : false,
                commit: "picture"
            });
          }
        });
    });
</script>
