<h1>会員詳細<<small><%= @store_member.name %>様</small>></h1>
  <div class="card">
    <h5 class="card-header">
      <%= text_area_tag :memo %>
    </h5>
    <div class="card-body">
      <table class="table table-borderless ">
        <tbody>
          <tr>
            <th scope="row"><i class="far fa-user"></i></th>
            <td><%= @store_member.name %></td>
          </tr>
          <tr>
            <th scope="row"><i class="far fa-envelope"></i></th>
            <td><%= @store_member.email %></td>
          </tr>
          <tr>
            <th scope="row"><i class="fas fa-phone"></i></th>
            <td><%= @store_member.phone %></td>
          </tr>
          <tr>
            <th scope="row"><i class="fas fa-phone"></i></th>
            <td><%= @store_member.phone %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <i class="fas fa-list mr-3"></i>メモ
    </div>
    <div class="card-body">
      <%= form_with model: @member_log, url: calendar_store_member_member_logs_path(@calendar, @store_member) do |f| %>
        <i class="far fa-comment"></i> <%= f.text_area :log_text, placeholder:"コメントを入力してください。", class: "form-control", id:"log_text_form" %>
        <%= f.submit "保存", class:"btn btn-success mt-1" %>
      <% end %>
    </div>
    <div id="member_logs" class="container">
      <%= render "member_logs" %>
    </div>
  </div>


<script>
  // ボタンを押して、編集が可能になる
  $('#start_edit_btn').on('click', function() {
    $('.member_edit_form').find(".disabled_form").css("display","none")
    $('.member_edit_form').find(".display_none").removeClass("display_none");
    $(this).remove();
  });
</script>