<div class="table_scroll">
<%= form_for @config, url: user_update_path(current_user) do |f| %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><strong>カレンダー設定</strong></th>
      </tr>
      <tr>
        <th>項目</th>
        <th>設定値</th>
        <th>説明</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">表示開始日</th>
        <td><%= f.number_field :start_date, class: "form-control" %></td>
        <td>カレンダーの表示開始日の設定です。（1と設定すると、本日から1日後の明日のカレンダーから表示）</td>
      </tr>
      <tr>
        <th scope="row">表示終了日</th>
        <td><%= f.number_field :end_date, class: "form-control" %></td>
        <td>カレンダーの表示終了日の設定です。（6と設定すると、本日から6日後の日付で表示終了）</td>
      </tr>
      <tr>
        <th scope="row">表示期間</th>
        <td><%= f.number_field :display_week_term, class: "form-control" %></td>
        <td>googleカレンダーから取得するデータの期間を設定</td>
      </tr>
      <tr>
        <th scope="row">表示カレンダー名</th>
        <td><%= f.text_field :calender_name, class: "form-control" %></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><%= f.submit "更新", class: "btn btn-primary" %></th>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
<% end %>

  <%= form_for @user, url: user_update_path(current_user) do |f| %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th><strong>ユーザー設定</strong></th>
        </tr>
        <tr>
          <th>項目</th>
          <th>設定値</th>
          <th>説明</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">LINE_トークン</th>
          <td><%= f.text_field :line_token, class: "form-control" %></td>
          <td>予約が入った際に、設定されたトークンのLINEへ通知が行きます。</td>
        </tr>
        <tr>
          <th scope="row"><%= f.submit "更新", class: "btn btn-primary" %></th>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>