

<ul id="myTab" class="nav nav-tabs" role="tablist" data-intro="このタブで、全体の予約、各スタッフの予約管理カレンダーの表示切り替えが行えます。" data-step="2">
  <li class="nav-item">
    <%= link_to "全体", user_calendar_dashboard_path(current_user, @calendar), class:"nav-link #{"active" unless @staff}" %>
  </li>
  <% @staffs.each do |staff| %>
    <li class="nav-item">
      <%= link_to staff.name, user_calendar_dashboard_path(current_user, @calendar, staff_id: staff), class:"nav-link #{staff.active_display(@staff)} load_btn" %>
    </li>
  <% end %>
</ul>

<div id="calendar"></div>
<div id="data" data-date_current="<%= @current_date %>" data-events="<%= @events %>" data-data_calendar="<%= @data_calendar %>" data-store_member_id="<%= @store_member_id %>"></div>

<div id="user_task_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="user_new_task_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>




