<%= @user.name %>様<br>
Smart予約にご利用ありがとうございます。<br>
以下の内容のご契約を解約いたしました。ご確認ください。<br>

契約日　：<%= @order_plan.created_at.strftime("%Y年%-m月%-d日") %><br>

プラン名：<%= @plan.title %><br>

プラン料金：<%= @plan.charge %><br>

プラン内容：<%= @plan.description %><br>

このメールに身に覚えのない方は、以下の窓口にお問い合わせください。<br>


==========================================================<br>
Smart予約<br>
窓口<br>
email: changemymind6@gmail.com<br>
TEL: <a href="tel:09057975695">09057975695</a><br>
==========================================================<br>

