<div class="complete_page">
  <div class="title">
    <h2>キャンセルフォーム</h2>
  </div>
  
  <div class="complete_content card">
    <h2 class="title_style">予約内容</h2>
    <div class="content_zone">
      <p>お名前 : <%= @schedule.name %></p>
      <p>メールアドレス : <%= @schedule.email %></p>
      <p>予約時間 : <%= reservation_date("#{@schedule.date_time}") %></p>
    </div>
  </div>
  <%= link_to "戻る", root_path, class:"btn btn-secondary btn_style" %>
  <%= link_to "キャンセルを行う", delete_event_path(test_id: @schedule.google_event_id), class:"btn btn-secondary btn_style", method: :delete ,data: {confirm: "本当にキャンセルを行いますか？" } %>
</div>



