<div class="top_page">
  <div class="title">
    <h2 class="title_style">予約フォーム</h2>
  </div>
  
  <div class="card description">
    <div class="inner_card">
      <div class="label_zone">
        <label>電話形式</label><p>LINEでの電話相談を承ります。</p>
      </div>
      <div class="label_zone">
        <label>時間</label><p>３０分〜１時間となります。</p>
      </div>
      <div class="label_zone">
        <label>空き状況</label><p><i class="far fa-circle"></i>:予約可能　<i class="fas fa-times"></i>:不可</p>
      </div>
    </div>
  </div>
  
  <%= paginate @month %>
    <div class="tabel_scroll">
      <table class="table  table-bordered">
        <thead>
          <tr>
            <th scope="col"></th>
            <% @month.each do |day| %>
              <th scope="col"><%= l(day, format: :top) %></th>
            <% end %>
          </tr>
        </thead>
        
        <tbody>
          
          <% @times.each do |time| %>
            <tr>
              <th scope="row"><%= time %>時</th>
              
              <% @month.each.with_index do |day, index| %>
                <% time_str = time(day, time) %>
                  <% if include_time?(@events, time_str) %>
                    <td class="possible <%= if @wild_time.include?(time) || @wild_day.include?(time(day, 0)) || Time.zone.parse(time_str) < Time.current then "can_not_choice" end %>">
                      <%= link_to form_path(date_time: time(Time.zone.parse("#{day}"), time)), class:"wide_link" do %>
                        <i class="far fa-circle"></i>
                      <% end %>
                    </td>
                  <% else %>
                    <td class="impossible <%= if @wild_time.include?(time) || @wild_day.include?(time(day, 0)) || Time.zone.parse(time_str) < Time.current then "can_not_choice" end %>">
                      <i class="fas fa-times"></i>
                    </td>
                  <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>