

  <div class="form-group">
    <label for="inputEmail" class="col-sm-4 col-form-label">表示カレンダー名<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="お店の名前の設定です。"></i><span class="badge badge-danger">必須</span></label>
    <div class="col-sm-8">
      <%# <input type="email" class="form-control" id="inputEmail" placeholder="Eメール"> %>
      <%= f.text_field :calendar_name, class: "form-control", required: "required" %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-4 col-form-label">お店の住所<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="お店の住所の設定です。"></i></label>
    <div class="col-sm-8">
      <%# <input type="email" class="form-control" id="inputEmail" placeholder="Eメール"> %>
      <%= f.text_field :address, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-4 col-form-label">お店の電話番号<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="お店の電話番号の設定です"></i><span class="badge badge-danger">必須</span></label>
    <div class="col-sm-8">
      <%# <input type="email" class="form-control" id="inputEmail" placeholder="Eメール"> %>
      <%= f.text_field :phone, class: "form-control", required: "required" %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-4 col-form-label">
      表示開始日(日)
      <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="お客様が予約できる開始日付の設定です。１と設定すると本日〜１日後の予約からが可能になります。"></i>
    </label>
    <div class="col-sm-8">
      <%# <input type="email" class="form-control" id="inputEmail" placeholder="Eメール"> %>
      <%= f.select :start_date, [*0..10], {}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-4 col-form-label">表示期間（週間）<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="お客様の予約カレンダーを何週間分表示するかの設定です。"></i></label>
    <div class="col-sm-8">
      <%# <input type="email" class="form-control" id="inputEmail" placeholder="Eメール"> %>
      <%= f.select :display_week_term, [*1..10], {}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-4 col-form-label">表示開始時刻（時）<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="お客様の予約カレンダーの表示開始時刻の設定です。"></i></label>
    <div class="col-sm-8">
      <%# <input type="email" class="form-control" id="inputEmail" placeholder="Eメール"> %>
      <%= f.select :start_time, [*0..24], {}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-4 col-form-label">表示終了時刻（時）<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="お客様の予約カレンダーの表示終了時刻の設定です。"></i></label>
    <div class="col-sm-8">
      <%# <input type="email" class="form-control" id="inputEmail" placeholder="Eメール"> %>
      <%= f.select :end_time, [*0..24], {}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-4 col-form-label">現時刻からの許容予約開始時間（時）<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="お客様の予約カレンダーで現時刻から、何時間後の予約から許容するかの設定です。"></i></label>
    <div class="col-sm-8">
      <%# <input type="email" class="form-control" id="inputEmail" placeholder="Eメール"> %>
      <%= f.select :display_time, [*0..24], {}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-4 col-form-label">カレンダーの表示時間の間隔（分）<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="お客様の予約カレンダーで表示する時間の間隔を設定できます。"></i></label>
    <div class="col-sm-8">
      <%# <input type="email" class="form-control" id="inputEmail" placeholder="Eメール"> %>
      <%= f.select :display_interval_time, [10, 15, 20, 30, 60], {}, class: "form-control" %>
    </div>
  </div>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>