<p><span class="js-copytext" value="<%= calendar_tasks_url(@calendar) %>">
  <%= link_to "お客さま専用予約フォームへ", calendar_tasks_path(@calendar, openExternalBrowser: 1), class:"btn btn-outline-primary load_btn" %>
</span></p>
  <%= render "layouts/error_messages", model: @calendar %>
  <ul id="myTab" class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a href="#home" id="home-tab" class="nav-link active" role="tab" data-toggle="tab" aria-controls="home" aria-selected="true">
        カレンダー基本設定
      </a>
    </li>
    <li class="nav-item">
      <a href="#contact" id="contact-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="contact" aria-selected="false">
        カレンダー詳細設定
      </a>
    </li>
  </ul>
  <div id="myTabContent" class="tab-content mt-3">
    <div id="home" class="tab-pane active" role="tabpanel" aria-labelledby="home-tab">
      <%= form_for @calendar, url: user_calendar_path(current_user, @calendar) do |f| %>
        <div class="form-area"> 
          <%= render 'basic_setting', f: f %>
        </div>
        <div class="form-group">
            <%= f.submit "更新", class: "btn btn-primary", data: {confirm: "更新しますか？"} %>
            <%= link_to "カレンダープレビュー", user_calendar_preview_path(current_user, @calendar), class: "btn btn-primary", remote: true %>
        </div>
      <% end %>
    </div>
    <div id="contact" class="tab-pane" role="tabpanel" aria-labelledby="contact-tab">
      <%= form_for @calendar.calendar_config, url: user_calendar_calendar_config_path(current_user, @calendar) do |f| %>
        <div class="form-area"> 
          <%= render 'detail_setting', f: f %>
        </div>
        <div class="form-group">
            <%= f.submit "更新", class: "btn btn-primary", data: {confirm: "更新しますか？"} %>
        </div>
        <%= link_to "カレンダープレビュー", "##", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <style>
    .form-area {
      height: 65vh;
      overflow-y: scroll;
      background-color: white;
    }
    #myTabContent {
      margin: 0!important;
    }
  </style>
