<h1>スタッフシフト</h1>
<%= link_to(calendar_staff_staff_shifts_path(@calendar, @staff, month: @month.prev_month), class: "btn btn-primary") do %>
  <i class="fas fa-angle-left"></i>
<% end %>
<h2 class="month_display"><%= l @month, format: :to_date %></h2>
<%= link_to(calendar_staff_staff_shifts_path(@calendar, @staff, month: @month.next_month), class: "btn btn-primary") do %>
  <i class="fas fa-angle-right"></i>
<% end %>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>日付</th>
      <th>出勤時間</th>
      <th>退勤時間</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @staff_shifts.each do |shift| %>
      <tr>
        <td><%= l shift.work_date, format: :long %></td>
        <td><%= l(shift.work_start_time, format: :very_short)%></td>
        <td><%= l(shift.work_end_time, format: :very_short) %></td>
        <td>
          <%#= link_to 'Show', user_staff_shift %>
          <%= link_to 'Edit', edit_calendar_staff_staff_shift_path(@calendar, @staff, shift), remote: true %>
        </td>
        <div id="staff_shift_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

