<h1>ユーザー編集</h1>

<%= render 'layouts/error_messages', model: @user %>

<%= form_for @user, url: user_path(@user), method: :patch do |f| %>
    <table class="table">
        <thead>
            <tr>
            <th>項目</th>
            <th scope="col">設定</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">アカウント名</th>
                <td><%= f.text_field :name, class:"form-control" %></td>
            </tr>
            <tr>
                <th scope="row">email</th>
                <td><%= f.email_field :email, class:"form-control" %></td>
            </tr>
            <tr>
                <th scope="row">パスワード</th>
                <td><%= f.password_field :password, class:"form-control" %></td>
            </tr>
            <tr>
                <th scope="row">パスワード（確認用）</th>
                <td><%= f.password_field :password_confirmation, class:"form-control" %></td>
            </tr>
            <tr>
                <th scope="row"><%= f.submit "更新", class:"btn btn-primary" %></th>
                <td></td>
            </tr>
        </tbody>
    </table>
<% end %>
<h2>契約プラン状況</h2>
<% if @order_plans.where(status: 0).any? %>
    <% @order_plans.each do |order| %>
        <% if order.status_ongoing? %>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">契約プラン</th>
                        <td>
                            <%= order.plan.title %>
                            <%= link_to "契約詳細", order_plan_path(order) %>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">契約日時</th>
                        <td><%= l(order.created_at, format: :long) %></td>
                    </tr>
                    <% unless order.order_id == "free_plan" %>
                        <tr>
                            <th scope="row">登録クレジットカード</th>
                            <td>**** **** **** <%= order.card_number %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>
    <% end %>
<% else %>
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">契約プラン</th>
                <td>
                    フリープラン
                    <%= link_to "プラン変更", choice_plan_path %>
                </td>
            </tr>
        </tbody>
    </table>
<% end %>
<h2 class="mt-5">スマートポータルサイト連携用APIキー</h2>
<%= link_to "現在のAPIキーを表示する", user_api_key_path(@user), remote: true, class:"btn btn-success ml-2 my-2" %>
<%= link_to "新しいAPIキーを発行する", user_new_api_key_path(@user), remote: true,
data: {confirm: "新しいAPIキーを発行すると【スマートポータルサイト】でAPIキーの再登録が必要となります。本当によろしいですか？"}, class:"btn btn-danger ml-2 my-2" %>
<div class="text-right mt-4">
    <%= link_to "ポータルサイトへ", @smart_portal_url %>
</div>

<div id="api-key" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="new-api-key" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>