
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">スタッフ休憩編集</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div><!-- /.modal-header -->
      <%= form_for staff_rest_time, url: user_calendar_staff_rest_time_path(current_user, calendar, staff_rest_time) do |f| %>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleInputPassword1">スタッフ</label><span id="msg-name"></span>
          <%= staff_rest_time.staff_shift.staff.name %>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">休憩開始時間</label>
            <%= raw sprintf(
                    f.datetime_select(
                        :rest_start_time,
                        # discard_month: true,
                        # discard_year: true,
                        # discard_day: true,
                        use_month_numbers: true,
                        )
                )
                %>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">休憩終了時間</label>
            <%= raw sprintf(
                    f.datetime_select(
                        :rest_end_time,
                        # discard_month: true,
                        # discard_year: true,
                        # discard_day: true,
                        use_month_numbers: true,
                        )
                )
                %>
        </div>
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <%= link_to "削除", user_calendar_staff_rest_time_path(current_user, calendar, staff_rest_time), method: :delete, class:"btn btn-outline-danger btn-sm", data: {confirm: "休憩を削除しますか？"} %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >閉じる</button>
        <%= f.submit "更新", class:"btn btn-primary", data: {confirm: "内容を更新しますか？"} %>
      </div><!-- /.modal-footer -->
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
