<div class="complete_page">
  <div class="title">
    <h2>契約プランの解約</h2>
  </div>

  <div class="card">
    <div class="card-header">内容</div>
    <table class="table mb-0">
      <tbody>
        <tr>
          <th scope="row">課金プラン</th>
          <td>予約システム有料プラン</td>
        </tr>
        <tr>
          <th scope="row">プラン料金</th>
          <td>10,000円/月</td>
        </tr>
        <tr>
          <th scope="row">課金登録日</th>
          <td><%= l(@order_plan.created_at, format: :long) %></td>
        </tr>
        <tr>
          <th scope="row">登録カード(下４桁)</th>
          <td>**** **** **** <%= @order_plan.card_number %></td>
        </tr>
        <tr>
          <th scope="row">お客様email</th>
          <td><%= current_user.email %></td>
        </tr>
      </tbody>
    </table>
    <div class="card-footer">
      <%= link_to "戻る", order_plan_path(@order_plan), class:"btn btn-primary" %>
      <%= link_to "上記プランを解約する", destroy_order_path(@order_plan), method: :patch, class:"btn btn-danger", "data-comfirm": "解約しますか？" %>
    </div>
  </div>