<div class="complete_page">
  <div class="title">
    <h2>契約プラン詳細</h2>
  </div>

  <div class="card">
    <div class="card-header">
      内容
      <% if @order_plan.status_destroy? %>
        <span class="badge badge-pill badge-danger">解約済み</span>
      <% end %>
    </div>
    <table class="table mb-0">
      <tbody>
        <tr>
          <th scope="row">課金プラン</th>
          <td>予約システム有料プラン</td>
        </tr>
        <tr>
          <th scope="row">プラン料金</th>
          <td>5000円/月</td>
        </tr>
        <tr>
          <th scope="row">課金登録日</th>
          <td><%= l(@order_plan.created_at, format: :long) %></td>
        </tr>
        <tr>
          <th scope="row">登録カード(下４桁)</th>
          <td>**** **** **** <%= @order_plan.card_number %></td>
        </tr>
        <tr>
          <th scope="row">お客様email</th>
          <td><%= current_user.email %></td>
        </tr>
        
      </tbody>
    </table>
    <div class="card-footer">
      <%= link_to "カレンダーへ", user_calendar_dashboard_path(current_user, current_user.calendars.first), class:"btn btn-primary" %>
      <%= link_to "解約手続きへ", destroy_order_operation_path(@order_plan), "data-confirm": "解約手続きページに移動しますか？" %>
    </div>
  </div>