<h1>スタッフ詳細ページ</h1>

<%= render 'layouts/error_messages', model: @staff %>

<h4>LINE連携状況：<%= @staff.line_link %></h4>

<%= link_to "LINE連携する", calendar_staff_redirect_line_path(@calendar, @staff), class:"btn btn-success", method: :post %>
<%=%>

<%= form_with model:@staff, url: calendar_staff_path(@calendar, @staff), local: true do |f| %>
  <%= f.label :名前, class:"label_style" %><span class="badge badge-danger">必須</span>
  <%= f.text_field :name, class:"form-control", required: true %>
  <%= f.label :説明, class:"label_style" %>
  <%= f.text_area :description, class:"form-control", :placeholder => "スタッフの自己紹介を記入してください。（必須ではありません）" %>
  <%= f.label :メールアドレス, class:"label_style" %><span class="badge badge-danger">必須</span>
  <%= f.email_field :email, class:"form-control", required: true, :placeholder => "*****@gmail.com" %>
  <%= f.label :パスワード, class:"label_style" %>
  <%= f.password_field :password, class:"form-control", :placeholder => "password" %>
  <%= f.label :確認パスワード, class:"label_style" %>
  <%= f.password_field :password_confirmation, class:"form-control", :placeholder => "password" %>

  <div class="submit_area">
    <%= f.submit "更新する", class:"btn btn-primary" %>
  </div>
<% end %>