<%= form_for store_member, url: user_calendar_user_tasks_path(current_user, calendar), method: :post do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="form-group">
        <label for="exampleInputPassword1">お名前</label><span id="msg-name"></span><span class="badge badge-danger">必須</span>
        <%= f.text_field :name, class: "form-control form_style", id: "name", placeholder: "お名前（山田太郎）", required: "required" %>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">メールアドレス</label><span id="msg-email"></span>
        <%= f.email_field :email, class: "form-control form_style", id: "email", placeholder: "メールアドレス(test@test.com)" %>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">電話番号</label><span id="msg-tel"></span><span class="badge badge-danger">必須</span>
        <%= f.number_field :phone, class: "form-control form_style", id: "tel", placeholder: "電話番号(09012345678)", required: "required" %>
    </div>
    <%= fields_for :task do |task|  %>
        <div class="form-group">
            <label for="exampleInputPassword1">日時</label><span class="badge badge-danger">必須</span>
            <%#= task.text_field :time, value: "#{l(@task.start_time, format: :long)}~",  class: "form-control form_style", readonly: true %>
            <%= raw sprintf(
                    task.datetime_select(
                        :start_time,
                        use_month_numbers: true,
                        )
                )
                %>
            <%#= task.hidden_field :start_time, value: @task.start_time %>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">ご要望</label>
            <%= task.text_area :request, class: "form-control form_style" %>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">メモ（お客様の通知には表示されません）</label>
            <%= task.text_area :memo, class: "form-control form_style" %>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">担当者</label><span class="badge badge-danger">必須</span>
            <%= task.collection_select :staff_id, @calendar.staffs, :id, :name, {prompt: ""},  class: "form-control form_style", required: "required" %>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">コース</label><span class="badge badge-danger">必須</span>
            <%= task.collection_select :task_course_id, @calendar.task_courses, :id, :title, {prompt: ""},  class: "form-control form_style", required: "required" %>
        </div>
    <% end %>
    <%= f.submit "予約する", class:"btn btn-primary btn_style load_btn_user_booking", data:{confirm:"予約を確定しますか？"} %>
<% end %>


<script>
        $(function () {
//           画面読み込み時にアイコンが表示されないようにする
            // $('#kana-icon').hide();
            // $('#name-icon').hide();
            // $('#email-icon').hide();
            // $('#tel-icon').hide();

//           input要素のフォーカスを失ったタイミングで発生します。
            $('#name').blur(function () {
//              空値及び数字記号が入っていないかチェックするバリデーション
                emptyNameCheck($(this));
            });


//             $('#name-kana').blur(function () {
// //              ひらがなを自動変換するイベントの呼び出し
//                 kanaChange($(this));
// //
// //              空値及びカナ以外の値が入っていないかチェックするバリデーション
//                 emptyKanaCheck($(this));
//             });

            $('#email').blur(function () {
//
//              空値及びメールアドレス以外が入っていないかチェックするバリデーション
                emptyEmailCheck($(this));
            });

            $('#tel').blur(function () {
//
//              空値及び電話番号以外が入っていないかチェックするバリデーション
                emptyTelCheck($(this));
            });


            emptyNameCheck = function (ele) {
                var val = ele.val();
//                空値の場合、背景へCSSクラス適用し、テキストを追加
                if (val == "") {
                    $("#msg-name").addClass('color');
                    $("#msg-name").text("入力されていません。");
                    $('#name-icon').hide();
                }
//                数字記号が入っている場合背景へCSSクラス適用し、テキストを追加
                else if (val.match(/^([\w\u3040-\u309f])\*$|\d+|[!-/]|[:-?]|[[-`]|[{-~]|["！”＃＄％＆’（）＝｜‘｛＋＊｝＜＞？＿－＾￥＠「；：」、。・" 〜]/)) {
                    $('#msg-name').addClass('color');
                    $("#msg-name").text("名前が正しくありません。");

                    $('#name-icon').hide();
                }

                else {
                    $('#msg-name').removeClass('color');
                    $("#msg-name").text("");
                    $('#name-icon').show();
                }
            };

//             kanaChange = function (ele) {
//                 var val = ele.val();
// //                正規表現でひらがなを引数の値に置換
//                 var kana = val.replace(/[ぁ-ん]/g, function (s) {
//                     // ユニコード値でカナに変換
//                     return String.fromCharCode(s.charCodeAt(0) + 0x60)
//                 });

//                 if (val.match(/[ぁ-ん]/g)) {
//                     $(ele).val(kana)
//                 }

//             };

//             emptyKanaCheck = function (ele) {
//                 var val = ele.val();
// //                空値の場合、テキストを追加
//                 if (val == "") {
//                     $("#msg-kana").addClass("color");
//                     $("#msg-kana").text("入力されていません。");
//                     $("#kana-icon").hide();
//                 }
// //                カナ以外の値が入っている場合、テキストを追加
//                 else if (val.match(/[^ぁ-んァ-ン　\s]+/)) {
//                     $("#msg-kana").addClass("color");
//                     $("#msg-kana").text("全角カナ以外が登録されています。");

//                     $("#kana-icon").hide();
//                 }

//                 else {
//                     $("#msg-kana").removeClass("color");
//                     $("#msg-kana").text("");
//                     $("#kana-icon").show();
//                 }
//             };

//             emptyEmailCheck = function (ele) {
//                 var val = ele.val();
// //                空値の場合、テキストを追加
//                 if (val == "") {
//                     $("#msg-email").addClass('color');
//                     $("#msg-email").text("入力されていません。");
//                     $("#email-icon").hide();
//                 }
// //                カナ以外の値が入っている場合背景へCSSクラス適用し、テキストを追加
//                 else if (!val.match(/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/)) {
//                     $("#msg-email").addClass("color");
//                     $("#msg-email").text("@以降が入力されていないか、メールアドレス以外の情報が登録されています。");

//                     $("#email-icon").hide();
//                 }

//                 else {
//                     $("#msg-email").removeClass("color");
//                     $("#msg-email").text("");
//                     $("#email-icon").show();
//                 }
//             };

            emptyTelCheck = function (ele) {
                var val = ele.val();
//                空値の場合、背景へCSSクラス適用し、テキストを追加
                if (val == "") {
                    $("#msg-tel").addClass('color');
                    $("#msg-tel").text("入力されていません。");
                    $("#tel-icon").hide();
                }
//                電話以外の値が入っている場合、背景へCSSクラス適用し、テキストを追加
                else if (!val.match(/^(0[5-9]0[0-9]{8}|0[1-9][1-9][0-9]{7})$/)) {
                    $("#msg-tel").addClass("color");
                    $("#msg-tel").text("電話番号が正しく入力されていません(00011112222)");

                    $("#email-tel").hide();
                }

                else {
                    $("#msg-tel").removeClass("color");
                    $("#msg-tel").text("");
                    $("#tel-icon").show();
                }
            };
        });
    </script>