<div class="table_scroll">
  <table class="table table-hover">
    <caption>テーブルの表題</caption>
    <thead>
      <tr>
        <th><%= sort_link(@q, :id, "ID") %></th>
        <th><%= sort_link(@q, :name, "名前") %></th>
        <th><%= sort_link(@q, :email, "email") %></th>
        <th><%= sort_link(@q, :phone, "電話番号") %></th>
        <th><%= sort_link(@q, :start_time, "予約時間") %></th>
        <th></th>
        <th><%= sort_link(@q, :created_at, "受付時間") %></th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <th scope="row"><%= task.id %></th>
          <td><%= task.store_member.name %></td>
          <td><%= task.store_member.email %></td>
          <td><%= task.store_member.phone %></td>
          <td><%= reservation_date(task) %></td>
          <td><%= link_to "キャンセル", user_calendar_user_task_path(current_user, @calender, task), class:"btn btn-secondary btn_style", method: :delete ,data: {confirm: "本当にキャンセルを行いますか？" } %></td>
          <td><%= task.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

