<div class="complete_page">
  <div class="title">
    <h2>予約が完了しました。</h2>
  </div>

  <div class="card">
    <div class="card-header">予約内容</div>
    <table class="table mb-0">
      <tbody>
        <tr>
          <th scope="row">お名前</th>
          <td><%= @task.store_member.name %></td>
        </tr>
        <tr>
          <th scope="row">メールアドレス</th>
          <td><%= @task.store_member.email %></td>
        </tr>
        <tr>
          <th scope="row">電話番号</th>
          <td><%= @task.store_member.phone %></td>
        </tr>
         <tr>
          <th scope="row">予約時間</th>
          <td><%= reservation_date(@task) %></td>
        </tr>
        <tr>
          <th scope="row">予約コース</th>
          <td><%= @task.task_course.title %></td>
        </tr>
        <tr>
          <th scope="row">予約担当者</th>
          <td><%= @task.staff.name %></td>
        </tr>
        <tr>
          <th scope="row">ご要望</th>
          <td><%= @task.request %></td>
        </tr>
      </tbody>
    </table>
    <div class="card-body">
      
    </div>
  </div>

  <%= link_to "戻る", calendar_tasks_path(@calendar), class:"btn btn-secondary btn_style" %>
</div>