<div class="top_page">
  <div class="title">
    <h2 class="title_style">予約フォーム</h2>
  </div>

  <table class="table table-borderless">
    <tbody>
      <tr>
        <th scope="row">電話形式</th>
        <td class="left_align">LINEでの電話相談を承ります。</td>
      </tr>
      <tr>
        <th scope="row">時間</th>
        <td class="left_align">３０分〜１時間となります。</td>
      </tr>
      <tr>
        <th scope="row">空き状況</th>
        <td class="left_align"><i class="far fa-circle"></i>:予約可能　<i class="fas fa-times"></i>:不可</td>
      </tr>
    </tbody>
  </table>
  <%# スタッフ選択 %>
  <div class="dropdown">
    <!-- 切替ボタンの設定 -->
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= @staff.name %>
    </a>
    <!-- ドロップメニューの設定 -->
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <% @calendar.staffs.each do |staff| %>
        <%= link_to staff.name, calendar_tasks_path(@calendar, course_id: @task_course.id, staff_id: staff.id), class:"dropdown-item" %>
      <% end %>
    </div><!-- /.dropdown-menu -->
  </div><!-- /.dropdown -->

  <%# コースの選択 %>
  <div class="dropdown">
    <!-- 切替ボタンの設定 -->
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= @task_course.title %>
    </a>
    <!-- ドロップメニューの設定 -->
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <% @calendar.task_courses.each do |course| %>
        <%= link_to course.title, calendar_tasks_path(@calendar, course_id: course.id, staff_id: @staff.id), class:"dropdown-item" %>
      <% end %>
    </div><!-- /.dropdown-menu -->
  </div><!-- /.dropdown -->

  <%= paginate @month %>
    <div class="tabel_scroll">
      <table class="table  table-bordered">
        <thead>
          <tr>
            <th scope="col">時間</th>
            <% @month.each do |day| %>
              <th scope="col"><%= l(day, format: :top) %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @times.each do |time| %>
            <tr>
              <th scope="row"><%= l( time, format: :very_short) %></th>
              <% @month.each.with_index do |day, index| %>
                <% time_str = time(day, time) %>
                  <% if ValidateTask.call(@events, time_str, @task_course) && ValidateStaffShift.call(@staff.staff_shifts, time_str) %>
                    <td class="possible <%= if @wild_time.include?(time) || RegularDay.call(@calendar, day) || Time.zone.parse(time_str) < Time.current then "can_not_choice" end %>">
                      <%= link_to new_calendar_task_path(@calendar, start_time: time(Time.zone.parse("#{day}"), time), course_id: @task_course.id), class:"wide_link" do %>
                        <i class="far fa-circle"></i>
                      <% end %>
                    </td>
                  <% else %>
                    <td class="impossible <%= if @wild_time.include?(time) || RegularDay.call(@calendar, day) || Time.zone.parse(time_str) < Time.current then "can_not_choice" end %>">
                      <i class="fas fa-times"></i>
                    </td>
                  <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>