<div class="top_page">
  <div class="title">
    <h2 class="title_style mt-3">予約フォーム</h2>
  </div>
  
  <% if browser.device.mobile?  %>
    <%= render 'select_area_sp' %>
  <% else %>
    <%= render 'select_area' %>
  <% end %>

  <%= paginate @month %>
    <div class="tabel_scroll">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">時間</th>
            <% @month.each do |day| %>
              <th scope="col"><%= l(day, format: :top) %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @times.each do |time| %>
            <tr>
              <th scope="row"><%= l( time, format: :very_short) %></th>
              <% @month.each.with_index do |day, index| %>
                <% time_str = time(day, time) %>
                  <% if ValidateTask.call(@events, time_str, @task_course) && ValidateStaffShift.call(@staff, time_str, @task_course) && !RegularDay.call(@calendar, day) && time_str.to_time >= Time.current.since(@calendar.display_time.hours) && ValidateTask.call(@google_events, time_str, @task_course)   %>
                    <td class="possible">
                      <%= link_to new_calendar_task_path(@calendar, start_time: time(Time.zone.parse("#{day}"), time), course_id: @task_course.id, staff_id: @staff.id), class:"load_btn" do %>
                        <i class="far fa-circle"></i>
                      <% end %>
                    </td>
                  <% else %>
                    <td class="impossible">
                      <i class="fas fa-times"></i>
                    </td>
                  <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>

<script>
  $(function(){
  $('tr[data-href]', 'table.table-clickable').on('click', function(){
    location.href = $(this).data('href');
  });
});
</script>

