<div class="form_page">
  
  <div class="title">
    <h2 class="title_style">予約フォーム</h2>
  </div>
  
  <div class="form_area">
    <%= form_for @task, url: calendar_redirect_line_path(@calendar), method: :get do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      <%= f.hidden_field :date_time, value: @task.start_time %>
      <div class="form-group">
        <label for="exampleInputPassword1">お名前</label><span id="msg-name"></span>
        <%= f.text_field :name, class: "form-control form_style", id: "name", placeholder: "お名前（山田太郎）", required: "required" %>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">メールアドレス</label><span id="msg-email"></span>
        <%= f.email_field :email, class: "form-control form_style", id: "email", placeholder: "メールアドレス(test@test.com)", required: "required" %>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">電話番号</label><span id="msg-tel"></span>
        <%= f.number_field :phone, class: "form-control form_style", id: "tel", placeholder: "電話番号(09012345678)", required: "required" %>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">日時</label>
        <%= f.text_field :time, value: reservation_date("#{@task.start_time}"),  class: "form-control form_style", readonly: true %>
      </div>
      <button type="submit" class="btn btn-primary btn_style" data-confirm= "予約を行います。">予約する</button>
      <%= link_to "戻る", calendar_tasks_path(@calendar), class:"btn btn-secondary btn_style" %>
    <% end %>
  </div>
  
</div>

<script>
        $(function () {
//           画面読み込み時にアイコンが表示されないようにする
            // $('#kana-icon').hide();
            // $('#name-icon').hide();
            // $('#email-icon').hide();
            // $('#tel-icon').hide();

//           input要素のフォーカスを失ったタイミングで発生します。
            $('#name').blur(function () {
//              空値及び数字記号が入っていないかチェックするバリデーション
                emptyNameCheck($(this));
            });


//             $('#name-kana').blur(function () {
// //              ひらがなを自動変換するイベントの呼び出し
//                 kanaChange($(this));
// //
// //              空値及びカナ以外の値が入っていないかチェックするバリデーション
//                 emptyKanaCheck($(this));
//             });

            $('#email').blur(function () {
//
//              空値及びメールアドレス以外が入っていないかチェックするバリデーション
                emptyEmailCheck($(this));
            });

            $('#tel').blur(function () {
//
//              空値及び電話番号以外が入っていないかチェックするバリデーション
                emptyTelCheck($(this));
            });


            emptyNameCheck = function (ele) {
                var val = ele.val();
//                空値の場合、背景へCSSクラス適用し、テキストを追加
                if (val == "") {
                    $("#msg-name").addClass('color');
                    $("#msg-name").text("入力されていません。");
                    $('#name-icon').hide();
                }
//                数字記号が入っている場合背景へCSSクラス適用し、テキストを追加
                else if (val.match(/^([\w\u3040-\u309f])\*$|\d+|[!-/]|[:-?]|[[-`]|[{-~]|["！”＃＄％＆’（）＝｜‘｛＋＊｝＜＞？＿－＾￥＠「；：」、。・" 〜]/)) {
                    $('#msg-name').addClass('color');
                    $("#msg-name").text("名前が正しくありません。");

                    $('#name-icon').hide();
                }

                else {
                    $('#msg-name').removeClass('color');
                    $("#msg-name").text("");
                    $('#name-icon').show();
                }
            };

//             kanaChange = function (ele) {
//                 var val = ele.val();
// //                正規表現でひらがなを引数の値に置換
//                 var kana = val.replace(/[ぁ-ん]/g, function (s) {
//                     // ユニコード値でカナに変換
//                     return String.fromCharCode(s.charCodeAt(0) + 0x60)
//                 });

//                 if (val.match(/[ぁ-ん]/g)) {
//                     $(ele).val(kana)
//                 }

//             };

//             emptyKanaCheck = function (ele) {
//                 var val = ele.val();
// //                空値の場合、テキストを追加
//                 if (val == "") {
//                     $("#msg-kana").addClass("color");
//                     $("#msg-kana").text("入力されていません。");
//                     $("#kana-icon").hide();
//                 }
// //                カナ以外の値が入っている場合、テキストを追加
//                 else if (val.match(/[^ぁ-んァ-ン　\s]+/)) {
//                     $("#msg-kana").addClass("color");
//                     $("#msg-kana").text("全角カナ以外が登録されています。");

//                     $("#kana-icon").hide();
//                 }

//                 else {
//                     $("#msg-kana").removeClass("color");
//                     $("#msg-kana").text("");
//                     $("#kana-icon").show();
//                 }
//             };

            emptyEmailCheck = function (ele) {
                var val = ele.val();
//                空値の場合、テキストを追加
                if (val == "") {
                    $("#msg-email").addClass('color');
                    $("#msg-email").text("入力されていません。");
                    $("#email-icon").hide();
                }
//                カナ以外の値が入っている場合背景へCSSクラス適用し、テキストを追加
                else if (!val.match(/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/)) {
                    $("#msg-email").addClass("color");
                    $("#msg-email").text("@以降が入力されていないか、メールアドレス以外の情報が登録されています。");

                    $("#email-icon").hide();
                }

                else {
                    $("#msg-email").removeClass("color");
                    $("#msg-email").text("");
                    $("#email-icon").show();
                }
            };

            emptyTelCheck = function (ele) {
                var val = ele.val();
//                空値の場合、背景へCSSクラス適用し、テキストを追加
                if (val == "") {
                    $("#msg-tel").addClass('color');
                    $("#msg-tel").text("入力されていません。");
                    $("#tel-icon").hide();
                }
//                電話以外の値が入っている場合、背景へCSSクラス適用し、テキストを追加
                else if (!val.match(/^(\d{2,3}){0,1}\d{1,4}\d{2,4}\d{2,4}$/)) {
                    $("#msg-tel").addClass("color");
                    $("#msg-tel").text("電話番号が正しく入力されていません(00011112222)");

                    $("#email-tel").hide();
                }

                else {
                    $("#msg-tel").removeClass("color");
                    $("#msg-tel").text("");
                    $("#tel-icon").show();
                }
            };
        });
    </script>