<nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-primary fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to @calendar.calendar_name, user_calendar_dashboard_path(current_user, @calendar), class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="settingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          設定
        </a>
        <div class="dropdown-menu" aria-labelledby="settingDropdown">
          <%= link_to "ユーザー設定", user_path(current_user), class:"dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "予約一覧", user_calendar_user_tasks_path(current_user, @calendar), class:"dropdown-item" %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="shiftDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          カレンダー
        </a>
        <div class="dropdown-menu" aria-labelledby="shiftDropdown">
          <%= link_to "カレンダー設定", user_calendar_path(current_user, @calendar), class:"dropdown-item" %>
          <%= link_to "休日設定", calendar_iregular_holidays_path(@calendar), class:"dropdown-item" %>
          <%# <div class="dropdown-divider"></div> %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="shiftDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          スタッフ
        </a>
        <div class="dropdown-menu" aria-labelledby="shiftDropdown">
          <%= link_to "シフト設定", user_calendar_staffs_shifts_path(current_user, current_user.calendars.first), class:"dropdown-item" %>
          <%= link_to "スタッフ設定", user_calendar_staffs_path(current_user, @calendar), class:"dropdown-item" %>
          <%# <div class="dropdown-divider"></div> %>
        </div>
      </li>
    </ul>
    <%= search_form_for @q, url: user_calendar_user_tasks_path(current_user, @calendar), class:"form-inline my-2 my-lg-0" do |f| %>
      <%= f.search_field :store_member_name_or_store_member_phone_cont, class: "form-control mr-sm-2", :placeholder => "電話番号or名前" %>
      <%= f.submit "検索", class:"btn btn-outline-success my-2 my-sm-0" %>
      <%# <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> %>
    <% end %>
  </div>
</nav>