<nav class="navbar navbar-expand-lg navbar-light navbar-dark bg_user_color fixed-top resource_model" data-intro="こちらのメニューバーから各種設定ができます。" data-step="1">
  <%= link_to user_calendar_dashboard_path(current_user, @calendar) do %>
    <%= image_tag 'favicon.png', :size =>'40x40'%>
  <% end %>
  <div>
    <% if current_staff %>
      <i class="fas fa-user fa-2x"></i><%= current_staff.name %>
      <% if current_staff.google_calendar_id %>
        <i class="fab fa-google" style="color: blue;" data-toggle="tooltip" data-placement="top" title="googleカレンダー連携中"></i>
      <% end %>
    <% else %>
      <i class="fas fa-user-shield fa-2x"></i>管理者
    <% end %>
    <%= link_to user_helps_path, remote: true do %>
      <span class="badge badge-light">ヘルプ</span>
    <% end %>
    <%#= link_tag "ヘルプ", type: 'button', onclick: "UserTopIntro()", class:"btn" %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <%# カレンダーの名前リンク %>
      <li class="nav-item active">
        <%= link_to @calendar.calendar_name, user_calendar_dashboard_path(current_user, @calendar), class:"nav-link load_btn" %>
      </li>
      <%# 設定 %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="settingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-cog"></i>設定
        </a>
        <div class="dropdown-menu" aria-labelledby="settingDropdown">
          <% if current_staff %>
            <%= link_to "スタッフ設定", calendar_staff_path(@calendar, current_staff), class:"dropdown-item load_btn" %>
          <% end %>
          <% unless current_staff %>
            <%= link_to "ユーザー設定", user_path(current_user), class:"dropdown-item load_btn" %>
            <%= link_to "カレンダー設定", user_calendar_path(current_user, @calendar), class:"dropdown-item load_btn" %>
            <%= link_to "休日設定", calendar_iregular_holidays_path(@calendar), class:"dropdown-item load_btn" %>
            <%= link_to "スタッフ設定", user_calendar_staffs_path(current_user, @calendar), class:"dropdown-item load_btn" %>
            <%= link_to "コース設定", user_calendar_task_courses_path(current_user, @calendar), class:"dropdown-item load_btn" %>
          <% end %>
          <div class="dropdown-divider"></div>
          <% unless current_staff %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"dropdown-item load_btn" %>
          <% else %>
            <%= link_to 'ログアウト', destroy_staff_session_path, method: :delete, class:"dropdown-item load_btn" %>
          <% end %>
        </div>
      </li>
      
      <%# 予約一覧 %>
      <li class="nav-item">
        <%= link_to user_calendar_user_tasks_path(current_user, @calendar), class:"nav-link load_btn" do %>
          <i class="far fa-list-alt"></i>予約一覧
        <% end %>
      </li>
      <%# 会員一覧 %>
      <li class="nav-item">
        <%= link_to calendar_store_members_path(@calendar), class:"nav-link load_btn" do %>
          <i class="far fa-address-book"></i>会員一覧
        <% end %>
      </li>

      <%# カレンダーリリース状況 %>
      <% unless current_staff %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="shiftDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-globe"></i><%= @calendar.display_release %>
          </a>
          <div class="dropdown-menu" aria-labelledby="shiftDropdown">
            <% if @calendar.is_released %>
              <%= link_to "非公開にする", user_calendar_update_is_released_path(current_user, @calendar, commit:"非公開にする"), class:"dropdown-item load_btn", method: :patch %>
            <% elsif !@calendar.user.order_plans.any? { |order_plan| !order_plan.status_destroy? } %>
              <%= link_to "プランに登録してカレンダーを公開する", choice_plan_path, class:"dropdown-item load_btn" %>
            <% else %>
              <%= link_to "カレンダーを公開する", user_calendar_update_is_released_path(current_user, @calendar, commit:"公開にする"), class:"dropdown-item load_btn", method: :patch %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>

    <%# 公開リンク %>
    <%= button_tag type: 'button', class:"btn btn-outline-light", id:"copy_btn",  data: {position:"right", "clipboard-text":"#{calendar_tasks_url(@calendar, openExternalBrowser: 1)}"} do %>
      <i class="fas fa-link"></i>公開リンク
    <% end %>
    <input type="hidden" id="target_text" value="<%= calendar_tasks_url(@calendar, openExternalBrowser: 1) %>" onfocus="this.select();" readonly>

    <%# 予約検索 %>
    <%= search_form_for @q, url: user_calendar_user_tasks_path(current_user, @calendar), class:"form-inline my-2 my-lg-0" do |f| %>
      <%= f.search_field :store_member_name_or_store_member_phone_cont, class: "form-control mr-sm-2", :placeholder => "電話番号or名前" %>
      <%= f.submit "検索", class:"btn btn-outline-success my-2 my-sm-0 load_btn" %>
    <% end %>
    <button class="navbar-toggler btn-block" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<script>
function copy(str) {
    if(!str || typeof(str) != "string") {
    return "";
    }

    //strを含んだtextareaをbodyタグの末尾に設置
    $(document.body).append("<textarea id=\"tmp_copy\" style=\"position:fixed;right:100vw;font-size:16px;\" readonly=\"readonly\">" + str + "</textarea>");


    //elmはtextareaノード
    var elm = $("#tmp_copy")[0];

    //select()でtextarea内の文字を選択
    elm.select();

    //rangeでtextarea内の文字を選択
    var range = document.createRange();
    range.selectNodeContents(elm);
    var sel = window.getSelection();
    sel.removeAllRanges();
    sel.addRange(range);
    elm.setSelectionRange(0, 999999);

    //execCommandを実施
    document.execCommand("copy");

    //textareaを削除
    $(elm).remove();
}

$(document).ready(function(){
  $('#copy_btn').on('click', function() {　
    value = $('#target_text').val();
    copy(value);
    alert('クリップボードに公開リンクをコピーしました');
  });
});

</script>