<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="FXpzPpHGDRqmupmcC64f40VBjdgwxqG_zcPZHRM0dY0" />
    <title>予約アプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.png') %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'public', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/libphonenumber-js/1.1.10/libphonenumber-js.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
  </head>
  <body>
    <div id="overlay">
      <div class="cv-spinner">
        <span class="spinner"></span>
      </div>
    </div>
      <header class="sticky-top">
        <% unless ["templetes"].include?(controller.controller_name) %>
          <%= render "layouts/public_header" %>
        <% end %>
      </header>
      <div class="container">
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </div>
      <%= debug(params) if Rails.env.development? %>
    <script>
        $(".load_btn").click(function(){
            $("#overlay").fadeIn(500);
        });
      </script>
  </body>
</html>
