<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="FXpzPpHGDRqmupmcC64f40VBjdgwxqG_zcPZHRM0dY0" />
    <title>Smart予約</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.png') %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'user', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'user', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/libphonenumber-js/1.1.10/libphonenumber-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/styles/metro/notify-metro.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script data-pace-options='{ "ajax": false }' src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
  </head>
  <body>
    <style>
      <% if current_staff %>
        .resource_model {
          background-color: #aaf5ad !important;
        }
      <% end %>
    </style>
      <div id='task_notice_user' data-user_id="<%= current_user.id %>"></div>
      <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
          </div>
      </div>
      <header>
        <% if ["users"].include?(controller.controller_name) %>
          <%= render "layouts/header_user" %>
        <% elsif ["introductions"].include?(controller.controller_name) %>
          
        <% else %>
          <%= render "layouts/header" %>
        <% end %>
      </header>
      <%= render 'layouts/user_layout' %>
      <div class="modal fade" id="help_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>


      <script>
        $(".load_btn").click(function(){
            $("#overlay").fadeIn(500);
        });

        $(document).ready(function(){
          var value = "<%= @cation %>";
          if (value === "1") {
            alert("【警告】スタッフとコースを作成してください！カレンダーが公開できない状態です！");
          } else if (value === "2") {
            alert("【警告】スタッフを作成してください！カレンダーが公開できない状態です！");
          } else if (value === "3") {
            alert("【警告】コースを作成してください！カレンダーが公開できない状態です！");
          }
        });

        $(function(){
          setTimeout("$('.alert').fadeOut('slow')", 3000) 
        })
      </script>
      <script type="text/javascript">
        window.onpageshow = function(e) {
          if( e.persisted == true ){
          // ローディング画面を隠す
            $("#overlay").remove();
          /* もしローディング画面を出す以外にも画面遷移時に処理を行っている場合など、
          * 何らかの不具合が出た場合には、
          * 画面を読み込み直すのでブラウジングのスムーズさが少し損なわれてしまいますが、
          * 強制的にリロードさせる下記の処理をさせると大体解決します。*/
          // window.location.reload();
          }
        }
      </script>
  </body>
</html>
